body{
  background: #f8f8f8;
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: "Futura PT";
}

h1, h2, h3, h4, h5, h6, p, b, a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.container2{
  max-width: 1300px;
  margin:0 auto;
}